/* all story-page styling here - disregard style.css */

* {
    background-color: powderblue;
}

.hidden {
    display: none;
}

img {
    width: 95%;
    padding: 10%;
    background-color: #4CAF50;
}

#pageOne {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #4CAF50;
    border-radius: 15px;
}

#pageTwo {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #4CAF50;
    border-radius: 15px;
}

#pageThree {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #4CAF50;
    border-radius: 15px;
}

.answer-btn {
    background-color: #4CAF50;
    border: 2px white;
    color: white;
    font-family: 'Lakki Reddy', cursive;
    font-size: 35px !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    transition-duration: 0.4s;
    padding: 5%;
    margin: 5%;
}

.answer-card {
    background-color: powderblue;
}

.answer-btn:hover {
    background-color: #3e8e41;
}

.answer-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.next-btn {
    background-color: #4169E1;
    border: 2px white;
    color: white;
    font-family: 'Lakki Reddy', cursive;
    padding: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    border-radius: 15px;
    transition-duration: 0.4s;
};

.next-btn:hover {
    background-color: #0000CD;
}

.next-btn:active {
    background-color: #0000CD;
    box-shadow: 0 5px #666;
    transform: translateY(4px)
  }

  .home-btn {
    background-color: orange;
    border: 2px white;
    color: white;
    font-family: 'Lakki Reddy', cursive;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    border-radius: 15px;
    transition-duration: 0.4s;
    margin: 5%;
};

.home-btn:hover {
    background-color: #D2691E;
};

.home-btn:active {
    background-color: #D2691E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  };







.story-card {
    background: PowderBlue !important;
    border-radius: 15px;
    margin-bottom: 5%;
    border-right: 100px;
    border-color: powderblue
}

.story-card-body {
    background-color: lightyellow;
    width: 50%;
    height: 125%;
    border-radius: 15px;
    margin-left: 25%;
    padding: 5%;
}


h3 {
    font-family: 'Lakki Reddy', cursive !important;
    font-size: 35px !important;
    background-color: #4CAF50;
    
}

h2 {
    font-family: 'Lakki Reddy', cursive !important;
    padding: 5%;
    font-size: 65px !important;
    z-index: 5;
}

.cloud {
    background-color: transparent;
}

#cloud {
    position: absolute;
    background-color: transparent !important;
    animation: cloud 30s infinite;
    animation-direction: alternate;
    z-index: 10;
    width: 35%;
    height: 35%;
  }
  
  @keyframes cloud {
      0% {left: 0%}
      100% {left: 100%}
}

#sun {
    position: absolute;
    -webkit-animation: rotation 30s infinite linear;
    width: 45%;
    height: 45%;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
