* {
    margin: 10px;
}
.hidden {
    display: none;
}

img {
    width: 200px;
    transform: rotate(10deg);
}

img:hover {
    transform: scale(1.1);
}

.home {
    background-image: url(./home.jpg);
    height: 100vh;
}