.login-form {
    display: flex;
    height: 15rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.2);
    padding: 1rem
}

.login-form_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.input_submit {
    border: none;
    width: 50%;
    background-color: lightblue;
    cursor: pointer;
}

.input_submit:hover {
    background-color: lightskyblue;
}

.form-switcher {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

.form-switcher_option {
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.selected {
    color: lightskyblue; 
}