#kid1 {
    position:absolute;
    width:2000px;
    left:4%;
    animation: jump 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#kid2 {
    position:absolute;
    width:2000px;
    left:-20%;
    animation: jump2 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#kid3 {
    position:absolute;
    width:2000px;
    left:-8%;
    bottom: 0%;
    
    animation: jump 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

#owl {
    
    position:relative;
    left:80%;
    bottom: 20%;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 0s;
   
}

#owl img {
    width: 625px;
}

@media only screen and (max-width: 1366px) {
    #kid1, #kid2, #kid3 {
      display: none;
    }

    #owl {
        position:absolute;
        left: -15%;
        bottom: 0%;
        -webkit-animation: slideMobile 2s forwards;
        -webkit-animation-delay: 2s;
        animation: slideMobile 2s forwards;
        animation-delay: 0s;
    }

    #owl img {
        width: 400px
    }

  }


@keyframes jump {
    0% {
        top:0%;
    }
    100% {
        top:20%;
    }
}

@keyframes jump2 {
    0% {
        top:5%;
    }
    100% {
        top:15%;
    }
}

@-webkit-keyframes slide {
    100% { left: 50%; }
}

@keyframes slide {
    100% { left: 50%; }
}


@-webkit-keyframes slideMobile {
    100% { bottom: 25%; }
}

@keyframes slideMobile {
    100% { bottom: 25%; }
}


